body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img {
    width: 500px;
}

.card-text {
    margin:0;
}

select {
    border-radius: 20px;
    padding: 2px 0 2px 6px;
    transition: all 0.75s;
}

.btn-group {
    width: 100%;
}

.btn-group button {
    width: calc(100%/3);
}

.btn {
    font-size: 12px;
}

#tiebreak {
    display: none;
}

.bold {
    font-weight: 900;
}